.bg-container {
    height: 5.5rem;
    background-color: #282828;
  }

  .player {
    width: 38%;
    
  }

  .contenitore{
    position: relative;
  }

  .playing{
    position: absolute;
    z-index: 5;
    color: aliceblue;
    left: 250px;
  }
  
  .playerControls a img {
    width: 14px;
    margin-top: 1rem;
    filter: brightness(60%);
  }
  
  .playerControls a:hover {
    filter: brightness(80%);
    color: #282828 !important;
  }
  
  .progress {
    color: white;
    background-color: #414141;
    --bs-progress-height: 0.3rem !important;
  }
  
  .playBar p {
    margin-bottom: 20px;
    color: white;
  }